*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 100%;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 90vh;
}

.instagram-continue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 50%;
    height: 70%;
}

.group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    min-width: 23rem;
    padding: 30px 0px;

    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: white;
    border-radius: 4px;
    padding: 8px;
}

.instagram-logout{
    color:  #0095f6;
    margin-top: 9px;
}

.not-account{
    color: rgb(162, 162, 162);
    margin-bottom: 7px;
}

.link-blue{
    color:  #0095f6;
    cursor: pointer;
}

.get-the-app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.store{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 5px;
    width: 100%;
}

.app-download{
    width: 11rem;
    height: 3.2rem;

    margin-top: 15px;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url("./img/apple-button.png");
}

.app-download:nth-child(2){
    background-image: url("./img/googleplay-button.png");
}

@media (max-width: 600px){
    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
        height: 100%;

        justify-content: space-evenly;
    }

    .group{
        min-width: 19rem;
        min-height: 1rem;

        border: none;
        background-color: unset;

        margin-bottom: 5px;
        padding: 0px;

        justify-content: space-evenly;
    }

    .not-account{
        margin: 0px;
    }

    .store{
        flex-direction: column;
    }

}

@media (max-width: 910px){
    .instagram-phone{
        display: none;
    }

    .store{
        flex-direction: column;
    }
}

@media (min-width: 1440px){
    .instagram-wrapper{
        width: 60%;
    }
}